#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333;
  color: rgba(245, 245, 245, 0.925);
}

.App {
  background-color: #333;
  font-family: "RocknRoll One";
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: darkgoldenrod fixed;
}

nav {
  width: 80%;
}
.navbar-light .navbar-nav .nav-link {
  color: #333;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: whitesmoke;
}

a {
  color: bisque;
  cursor: pointer;
}
a:visited {
  color: purple;
}
a:focus {
  color: lightcyan;
}
a:hover {
  color: lightskyblue;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em auto;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1em;
}

.recipesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-color: darkgoldenrod;
}
